body {
    font-family: Arial, sans-serif;
    background-color: azure;
    color: #333;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
}

h1 {
    color: #0056b3;
    font-family: 'Georgia', serif;
    text-align: center;
}

.highlight {
    color: red;
    font-weight: bold;
}

.paragraph{
    margin-left: 40px;
    margin-right: 40px;
}

#lol {
    color: red;
}

.collapse {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.collapse, .collapse th, .collapse td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #003d80;
}

form{
    padding-left: 10px;
}

.fit{
    max-width: 99%;
    max-height: 99%;

}